/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.submit-btn, .header-text {
    text-align: center;
    color: violet;
}

.track {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    left: 800px;
    cursor: pointer;
    color: black;
    background-color: green;
}

.col-22 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-left: 320px;
}

#source-div {
    width: 500px;
    height: 100px;
    margin-top: 150px;
    margin-left: 250px;

}

#dest-div {
    margin-left: 650px;
    float: left;
    margin-top: -98px;
}

#receiver-div {
    width: 500px;
    height: 100px;
    margin-top: -50px;
    margin-left: 250px;

}

#sender-div {
    margin-left: 650px;
    float: left;
    margin-top: -98px;
}

#quantity-div {
    width: 500px;
    height: 100px;
    margin-top: -50px;
    margin-left: 250px;

}

#weight-div {
    margin-left: 650px;
    float: left;
    margin-top: -98px;
}